# Java 컴파일된 파일
*.class

# 빌드 폴더
/build/
target/

# 환경 설정 파일
.env
*.properties

# IDE 설정 파일
.idea/
*.iws
*.iml
*.ipr
out/

# Spring Tool Suite (STS) 설정 파일
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# 테스트 보고서 및 로그 파일
/test-output/
/test-reports/
*.log